*.env
*.log
.idea/
.DS_Store
node_modules/
emulator/emulator-data/
emulator/cache/
emulator/ssl/
app/src/firebase-config.json
firebase/functions/db.json
*DotSettings.user
/.vs/slnx.sqlite
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
/.vs/slnx.sqlite
/.vs
package-lock.json
*coverage.json
*.orig
service/Content.FunctionalTests/TestResults
service/Content.UnitTests/TestResults
*.user
